@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">
    Welcome to Online Vote, It's time to be more smart, so Start with online vote, It's more secure
        and you can do vote any time within time frame,,Thanks for using Online vote App.
        Be creative, Be smart, Thanks.
    </h1>
</div>
